<div class="orderItemContainer">
  <div class="row">
    <div class="col col-1">
      <span class="centerContent id">{{ orderItem.id }}</span>
    </div>
    <div class="col col-3 informations">
      <p>{{ orderItem.user.name }}</p>
      <div class="span">{{ orderItem.user.email }}</div>
    </div>
    <div class="col col-3 products">
      <p *ngFor="let product of orderItem.products">
        {{ product.name }}
      </p>
    </div>
    <div class="col col-2">{{ orderItem.totalPrice }} .DA</div>
    <div class="col col-3">{{ orderItem.createdAt | date: "medium" }}</div>
  </div>
</div>
