.paginatorContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
}

.page {
  margin: 0px 5px;
  height: 34px;
  width: 34px;
  border-radius: 20px;
  transition-duration: 200ms;
  cursor: pointer;
  color: var(--dark-color);
}

i {
  height: 34px;
  width: 34px;
  border-radius: 20px;
  margin: 0px 20px;
  color: var(--dark-color);
}

.selectedPage {
  font-weight: 600;
  color: white;
  background-color: var(--green-color);
}

i:hover,
.page:hover {
  font-weight: 600;
  color: white;
  background-color: var(--green-color);
}

.leftPadding {
  padding-right: 3px;
}
.rightPadding {
  padding-left: 3px;
}

.disable {
  opacity: 0;
  pointer-events: none;
}
