.usersList {
  background-color: white;
  border: 1px solid #eee;
  border-radius: 3px;
}

h4 {
  margin: 0px;
}

.listHeader {
  padding: var(--main-spacing);
  padding-left: 20px;
  border-bottom: 1px solid #eee;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.listHeader .actions {
  margin-left: auto;
}
