nav {
  display: flex;
  height: var(--nav-bar-height);
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: 2;
  background-color: white;
  align-items: center;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid #eee;
}

.logo {
  height: 50px;
  margin-left: 10px;
}

.siteName {
  font-size: 18px;
  margin-left: 10px;
}

.profile {
  margin-right: var(--main-spacing);
  margin-left: auto;
  display: flex;
  cursor: pointer;
  flex-direction: column;
}
.profile span {
  color: #888888;
}
.profile p {
  margin: 0px;
  margin-right: 10px;
  font-size: 18px;
}

.adminImage {
  height: 50px;
  width: 50px;
  margin-right: var(--main-spacing);
  border-radius: 25px;
  background-color: whitesmoke;
}

.menuItem i {
  color: #666;
  font-size: 13px;
}
.menuItem span {
  margin: 0px 20px;
  font-size: 14px !important;
}
