nav {
  display: flex;
  height: var(--nav-bar-height);
  top: 0px;
  left: var(--side-menu-width);
  position: fixed;
  z-index: 2;
  background-color: white;
  align-items: center;
  flex-direction: row;
  width: calc(100vw - var(--side-menu-width));
  /* border-bottom: 1px solid #eee; */
  transition-duration: 200ms;
}

.logo {
  height: 50px;
  margin-left: 10px;
}

.siteName {
  font-size: 18px;
  margin-left: 10px;
}
.expand {
  left: var(--side-menu-min-width);
  width: calc(100vw - var(--side-menu-min-width));
}

.actions {
  margin-left: auto;
  margin-right: 40px;
}
.actions i {
  font-size: 16px;
  color: #888;
  margin: 0px 10px;
}
