.userCard {
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition-duration: 100ms;
}

.userCard:hover {
  background-color: whitesmoke;
}

.userCard .col {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--main-spacing);
}

.userCard .informations {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.userCard .informations p {
  font-size: 18px;
  padding: 0px;
  margin: 0px;
}
.userCard .informations span {
  color: #888;
}

.userCard img {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  margin-left: 20px;
  background-color: whitesmoke;
}
