<div class="userCard" *ngIf="user">
  <div class="row">
    <div class="col col-1">
      <img
        [src]="
          user.imageUrl ? user.imageUrl : './../../../../assets/download.jpg'
        "
        alt="image"
      />
    </div>
    <div class="col col-3 informations">
      <p>{{ user.name }}</p>
      <span>{{ user.email }}</span>
    </div>
    <div class="col col-2">{{ user.numberOfOrders | shortNumber }} Orders</div>
    <div class="col col-3">
      <div class="col col-2">
        <span class="badge badge-green" [class.badge-red]="!user.isVerified">{{
          user.isVerified ? "verified" : "not verified"
        }}</span>
      </div>
    </div>
    <div class="col col-2">{{ user.createdAt | date: "medium" }}</div>
  </div>
</div>
